<div class="container">
  <div class="card">

    <div id="div-form">

      <h2>Cadastro</h2>

      <form [formGroup]="formulario" (ngSubmit)="cadastrar()">

        <!-- Campo Nome -->
        <label for="nome">Nome:</label>

        <input
          type="text"
          id="nome"
          name="nome"
          formControlName="nome"
          required
        >

        <!-- Mensagem de nome obrigatório -->
        @if (formulario.controls.nome.invalid && formulario.controls.nome.touched) {
          <p>O nome é obrigatório.</p>
        }


        <!-- Campo E-mail -->
        <label for="email">Email:</label>

        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          required
        >

        <!-- Mensagem de e-mail inválido -->
        @if (formulario.controls.email.invalid && formulario.controls.email.touched) {
          <p>Digite um e-mail válido.</p>
        }


        <!-- Campo CPF -->
        <label for="cpf">CPF:</label>

        <input
          type="text"
          id="cpf"
          name="cpf"
          formControlName="cpf"
          required
        >


        <!-- Campo Data de Nascimento -->
        <label for="dataNascimento">
          Data de Nascimento:
        </label>

        <input
          type="date"
          id="dataNascimento"
          name="dataNascimento"
          formControlName="dataNascimento"
          required
        >


        <!-- Campo UF -->
        <label for="uf">UF:</label>

        <select
          id="uf"
          name="uf"
          formControlName="uf"
          (change)="carregarMunicipios()"
          class="elem-form-02"
        >

          <option value="">
            Selecione o estado
          </option>

          @for (elem of listaUfs; track elem.id) {

            <option [value]="elem.id">
              {{ elem.sigla }} - {{ elem.nome }}
            </option>

          }

        </select>


        <!-- Campo Município -->
        <label for="municipio">
          Município:
        </label>

        <select
          id="municipio"
          name="municipio"
          formControlName="municipio"
          [disabled]="municipios.length === 0"
          class="elem-form-02"
        >

          <option value="">
            Selecione o município
          </option>

          @for (elem of municipios; track elem.id) {

            <option [value]="elem.nome">
              {{ elem.nome }}
            </option>

          }

        </select>


        <!-- Botão Cadastrar -->
        <button type="submit">
          Cadastrar
        </button>

        <!-- Botão Limpar -->
        <button type="reset">
          Limpar
        </button>

      </form>

    </div>

  </div>
</div>